body {
    text-align: center;
    background: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 160px 50px;
    background: linear-gradient(160deg, #8F47B3 0%, #fefefe 60%, #20B2AA 100%);
}

h1 {
	font-family: 'Monoton', cursive;
	color: #FF00CC;
	text-shadow: 2px 2px 1px #03bb85;
	cursor: default;
  font-weight: 200;
  font-size: 34px;
  margin: 0.2em;
}

h2 {
	font-family: 'Arial', cursive;
	color: #03bb85;
	background-color: #8F47B3;
	text-align: center;
	width: 250px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	cursor: default;
	opacity: 0.8;
}

#lvlScore {
	color: #fefefe;
}
